<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
       <div id="header-left">
        <img src="/logo.png" alt="Couldn't Load">
       </div>
       <div id="header-right">
        <li class="nav-links"><a href="#">Home</a></li>
        <li class="nav-links"><a href="/business">Business</a></li>
        <li class="nav-links"><a href="/about">About Us</a></li>
        <li class="nav-links"><a href="/contact">Contact Us</a></li>
        <div id="login">
        
            <!-- <img src="Image-Logos/new-logo-cm.jpg" alt="Failed"> -->
            <!-- <a onclick="toggleLogin()">Login</a> -->
             <p><a href="/login">Login</a></p>
        </div>
        <!-- <a href="javascript:void(0)" onclick="toggleLogin()" id="login-link">
            <img src="Image-Logos/new-logo-cm.jpg" alt="Failed">
            <a onclick="toggleLogin()">Login</a>
        </a> -->
       </div>
    </nav> 
    </header>
    
    <section class="Recentmovies_poster">
    <div class="slides">
        <img class="mySlides" src="/boll-movie-poster.jpg">
        <img class="mySlides" src="/hanuman.jpg">
        <img class="mySlides" src="/jaw.jpg">
        <img class="mySlides" src="/joker.jpg">
        <h1 class="image-text">Now Showing</h1>
        <button class="slide-button-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="slide-button-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
    </section>

    <h2>Now Showings</h2>
    <section class="movie-card">
        <a href="/seats"><img src="/boll-movie-poster.jpg" alt=""></a>
        <a href="/seats"><img src="/hanuman.jpg" alt=""></a>
        <a href="/seats"><img src="/jaw.jpg" alt=""></a>
        <a href="/seats"><img src="/joker.jpg" alt=""></a>
    </section>

    <footer>
        <div class="top-footer">
            <div class="navigate">
                <h2>Navigate</h2>
                <a href="/business">Business</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="info-footer">
                <h2>Chitra Movies</h2>
                <ul><li>Chitra Movies Pvt. Ltd.</li>
                <li>Chabahil, Kathmandu</li>
                <li>Chitra Fan Club Helpline:9823726411</li>
                <li>Email:chitramovies@gmail.com</li></ul>
                <h4>For Booking,Call Us at 4568700</h4>
            </div>
            <div class="social-media">
                <h2>Stay Connected</h2>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                
            </div>
        </div>
        <div class="bottom-footer">
            &copy;2024Chitra Movies. All Rights Reserved. Developed by:<b>Chitra Movies Pvt. Ltd.</b>
        </div>
    </footer>


    <script src="/script.js"></script>
</body>
</html>