.mySlides{
    display: none;
    height: 500px;
    position: relative;
    left: 2%;
    width: 96%;
}
.slides button{
    position: absolute;
    top: 50%;
    height: 10%;
    width: 5%;
}
.slide-button-right{
    right: 2%;
}
.slide-button-left{
    left: 2%;
}
.Recentmovies_poster{
    margin-bottom: 100px;
}
.movie-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.movie-card img{
    width: 200px;
    height: 300px;
}